<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="User-info">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        <p>name<%= @user.name %></p>
        <p>introduction</p>
        <%= link_to "edit", edit_user_path(@user) %>
      </div>
      <div class="New-book">
        <h2>New book</h2>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>件のエラーが発生しました
          <%= @book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @book, local:true do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="Users">
        <h2>Users</h2>
        <% @users.each do |user| %>
        <div>
          <p>image<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
          <p>name<%= user.name %></p>
          <%= link_to user_path(user.id) do %>
          <% end %>
        </div>
        <% end %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>

