<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <p>投稿ユーザー画像：</p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <p>name：<%= book.user.name %></p>
</div>
<% end %>
<%= paginate @books %>